<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>用户查看</title>
</head>
<body>

<div class="pd-20">
    <table class="table">
        <tbody>
         <tr>
            <th class="text-r">账户：</th>
            <td>{$user.username}</td>
        </tr>
         <tr>
            <th class="text-r">昵称：</th>
            <td>{$user.nickname}</td>
        </tr>
        <tr>
            <th class="text-r">个性签名：</th>
            <td>{$user.doodling}</td>
        </tr>
        <tr>
            <th class="text-r" width="80">性别：</th>
            <td>{switch name='user.sex'}
                {case value='0'}男{/case}
                {case value='1'}女{/case}
                {/switch}</td>
        </tr>
        <tr>
            <th class="text-r">手机：</th>
            <td>{$user.phone}</td>
        </tr>
        <tr>
            <th class="text-r">邮箱：</th>
            <td>{$user.email}</td>
        </tr>
        <tr>
            <th class="text-r">注册时间：</th>
            <td>{:date('Y-m-d H:i:s',$user.create_time)}</td>
        </tr>
        <tr>
            <th class="text-r">积分：</th>
            <td>{$user.point}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>