<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>用户管理</title>
    <style>
        .pagination{
            margin-left: 50px;
        }
        .pagination>li{
            width: 25px;
            height: 25px;
            line-height: 25px;
            display: inline-block;
            text-align: center;
            border: 1px solid #777;
            margin-right: 4px;
        }
        .pagination>li>a{
            width: 100%;
            height: 100%;
            display: block;
            text-decoration: none;
        }
        .pagination>.disabled{
            color: white;
            background: rgba(0, 0, 0, 0.42);
        }
        .pagination>.active{
            background: red;
            color: #fff;
        }
        }
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员中心 <span class="c-gray en">&gt;</span> 会员管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form method="get" action="{:url('/memberList')}">
        <input type="hidden" name="act" value="check">
        <div class="text-l"> 日期范围：
            <input type="text" onfocus="selecttime('start')" id="datemin" class="input-text Wdate" style="width:120px;" name="start_time" value="{if condition='isset($key.start_time)'}{$key.start_time}{/if}">
            -
            <input type="text" onfocus="selecttime('end')" id="datemax" class="input-text Wdate" style="width:120px;" name="end_time" value="{if condition='isset($key.end_time)'}{$key.end_time}{/if}">
            <input type="text" class="input-text" style="width:250px" placeholder="请输入会员账户或者昵称" id="" name="key" value="{if condition='isset($key.key)'}{$key.key}{/if}">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </div>
    </form>
    <div style="margin-top: 10px;">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="100">账户</th>
                <th width="100">昵称</th>
                <th width="40">性别</th>
                <th width="100">注册时间</th>
                <th width="70">状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $user as $u}
            <tr class="text-c">
                <td>{$u.id}</td>
                <td><u style="cursor:pointer" class="text-primary" onclick="member_show('{$u.yuan_name}的信息',{$u.id},'{:url(\'/memberShow\')}','360','400')">{$u.username|raw}</u></td>
                <td>{$u.nickname|raw}</td>
                <td>
                    {switch name='u.sex'}
                    {case value='0'}男{/case}
                    {case value='1'}女{/case}
                    {/switch}
                </td>
                <td>{:date('Y-m-d H:i:s',$u.create_time)}</td>
                <td class="td-status">
                    {switch name='u.status'}
                    {case value='0'}
                    <span class="label label-success radius" onclick="changeUserStatus(this,{$u.id},'{$u.yuan_name}',1)" style="cursor: pointer;">正常</span>
                    {/case}
                    {case value='1'}
                    <span class="label label-disabled radius" onclick="changeUserStatus(this,{$u.id},'{$u.yuan_name}',2)" style="cursor: pointer;">禁用</span>
                    {/case}
                    {/switch}

                </td>
                <td class="td-manage">
                 {switch name='u.is_customer_service'}
                    {case value='0'}
                    <span class="label  label-disabled radius" onclick="changeUserToCustomerService(this,{$u.id},'{$u.yuan_name}',0)" style="cursor: pointer;">禁用客服</span>
                    {/case}
                    {case value='1'}
                    <span class="label  label-success radius" onclick="changeUserToCustomerService(this,{$u.id},'{$u.yuan_name}',1)" style="cursor: pointer;">启用客服</span>
                    {/case}
                    {/switch}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>

    <div class="mt-15">
        {$user->appends($key)->render()|raw}
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript">
    function changeUserStatus(obj,id,name,act)
    {
        if(act == 0)
        {
            var m = '您确定要禁止用户<span style="color: red">'+name+'</span>吗？';
            var btn = '禁止';
            var su = '用户<span style="color: red">'+name+'</span>已经成功被禁止';
        }
        else
        {
            var m = '您确定把用户<span style="color: red">'+name+'</span>的状态改为正常吗？';
            var btn = '恢复';
            var su = '用户<span style="color: red">'+name+'</span>的状态已经成功恢复为正常';
        }
        layer.confirm(m,{
            title:'请您确认',
            btn:[btn,'取消'],
            icon:0
        },function () {
            $.ajax({
                type:'post',
                url:"{:url('/changeUserStatus')}",
                data:{
                    id:id,
                    act:act
                },
                success:function (data) {
                    if(data.status)
                    {
                        layer.msg(su,{time:1500,icon:1});
                        if(act == 1)
                        {
                            $(obj).parent().html('<span class="label label-disabled radius" onclick="changeUserStatus(this,'+id+',\''+name+'\',2)" style="cursor: pointer;">禁用</span>')
                        }
                        else
                        {
                            $(obj).parent().html('<span class="label label-success radius" onclick="changeUserStatus(this,'+id+',\''+name+'\',1)" style="cursor: pointer;">正常</span>')
                        }
                    }
                    else
                    {
                        layer.alert(data.msg);
                    }
                }
            });
        });
    }

   function changeUserToCustomerService(obj,id,name,act)
    {
        if(act == 1)
        {
            var m = '您确定要取消<span style="color: red">'+name+'</span>的客服功能吗？';
            var btn = '禁用';
            var su = '用户<span style="color: red">'+name+'</span>已经成功被取消客服功能';
        }
        else
        {
            var m = '您确定把用户<span style="color: red">'+name+'</span>启用为客服人员吗？';
            var btn = '启用';
            var su = '用户<span style="color: red">'+name+'</span>已经成功启用为客服人员';
        }
        layer.confirm(m,{
            title:'请您确认',
            btn:[btn,'取消'],
            icon:0
        },function () {
            $.ajax({
                type:'post',
                url:"{:url('/changeUserToCustomerService')}",
                data:{
                    id:id,
                    act:act
                },
                success:function (data) {
                    if(data.status)
                    {
                        layer.msg(su,{time:1500,icon:1});
                        if(act == 1)
                        {
                            $(obj).parent().html('<span class="label label-disabled radius" onclick="changeUserToCustomerService(this,'+id+',\''+name+'\',0)" style="cursor: pointer;">禁用客服</span>')
                        }
                        else
                        {
                            $(obj).parent().html('<span class="label label-success radius" onclick="changeUserToCustomerService(this,'+id+',\''+name+'\',1)" style="cursor: pointer;">启用客服</span>')
                        }
                    }
                    else
                    {
                        layer.alert(data.msg);
                    }
                }
            });
        });
    }
    function member_show(name,id,url,w,h) {
        layer_show(name,url+'?user_id='+id,w,h);
    }
    function selecttime(flag)
    {
        if(flag == 'start')
        {
            var endTime = $("#countTimeend").val();
            if(endTime != "")
            {
                WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:endTime})
            }
            else
            {
            WdatePicker({dateFmt:'yyyy-MM-dd'})
            }
        }
        else
        {
            var startTime = $("#countTimestart").val();
            if(startTime != "")
            {
                WdatePicker({dateFmt:'yyyy-MM-dd',minDate:startTime})
            }
            else
            {
            WdatePicker({dateFmt:'yyyy-MM-dd'})
            }
        }
    }
</script>
</body>
</html>